.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

img {
  width: 100%;
}

.imgTag {
  height: 7rem;
}

img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.imgContainer {
  width: 7.5rem;
  height: 10rem;
  margin: 0.3rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.unCheck {
  display: none;
}

.check {
  display: inline;
  width: 50%;
}

.check:hover {
  transform: scale(1);
}
