.box {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem 8rem 8rem 8rem 8rem;
}

.container {
  width: 8rem;
  height: 8rem;
  margin-bottom: 0.5rem;
  background-color: white;
  border: solid 0.01rem;
}

.container:hover {
  transform: scale(1.1);
  cursor: url(../assets/Pencil.png) 30 100, pointer;
}

.selectedContainer {
  width: 8rem;
  height: 8rem;
  margin-bottom: 0.5rem;
  background-color: rgb(230, 84, 84);
  border: solid 0.01rem;
}

.selectedContainer:hover {
  transform: scale(1.1);
  cursor: url(../assets/Eraser.png) 30 100, pointer;
}