.successSection {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
  background-color: #ffffffad;
  border-radius: 2rem;
}

.image {
  width: 55%;
}

.image:hover {
  transform: scale(1);
  cursor: default;
}
